<?xml version="1.0" encoding="utf-8"?>
<framework-data>
  <options>
    <option id="com.atmel.avr32.sf.uc3a.drivers.cpu.cycle_counter" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.intc" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.pm" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.cpu" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.gpio" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.ebi.smc" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.pwm" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.common.services.basic.spi_master" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.wdt" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.twi" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.drivers.usart" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.common.boards" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.common.services.basic.sleepmgr" value="true" />
    <option id="com.atmel.avr32.sf.uc3a.services.basic.delay" value="true" />
  </options>
  <files>
    <file path="src/asf/avr32/utils/preprocessor/stringz.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/preprocessor/stringz.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/power_clocks_lib.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/pm/power_clocks_lib.c" changed="False" />
    <file path="src/enum_example.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum_example.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/croutine.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/croutine.h" changed="False" />
    <file path="src/asf/avr32/drivers/usart/usart.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usart/usart.c" changed="False" />
    <file path="src/asf/avr32/utils/parts.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/parts.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/usbb.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/usbb.h" changed="False" />
    <file path="src/asf/common/utils/interrupt.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="common/utils/interrupt.h" changed="False" />
    <file path="src/asf/avr32/drivers/tc/tc.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/tc/tc.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/license/license.txt" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/license/license.txt" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/projdefs.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/projdefs.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/preprocessor.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/preprocessor/preprocessor.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/sleep.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/pm/sleep.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/exception.S" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/exception.S" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/port.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/port.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/timers.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/timers.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/queue.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/queue.h" changed="False" />
    <file path="src/usb_descriptors.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum/device/usb_descriptors.h" changed="False" />
    <file path="src/config/FreeRTOSConfig.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum_example_freertos/freertos/FreeRTOSConfig.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/semphr.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/semphr.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/mpu_wrappers.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/mpu_wrappers.h" changed="False" />
    <file path="src/usb_descriptors.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum/device/usb_descriptors.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/queue.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/queue.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/StackMacros.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/StackMacros.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/usb_task.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/usb_task.h" changed="False" />
    <file path="src/asf/avr32/drivers/cpu/cycle_counter/cycle_counter.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/cpu/cycle_counter/cycle_counter.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/read.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/read.c" changed="False" />
    <file path="src/host_template_task.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/host_template_task.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/portable.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/portable.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/usb_task.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/usb_task.c" changed="False" />
    <file path="src/host_template_task.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/host_template_task.c" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/intc/intc.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/list.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/list.h" changed="False" />
    <file path="src/asf/common/boards/board.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="common/boards/board.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/pm.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/pm/pm.h" changed="False" />
    <file path="src/asf/avr32/utils/status_codes.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/status_codes.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/power_clocks_lib.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/pm/power_clocks_lib.h" changed="False" />
    <file path="src/asf/avr32/drivers/gpio/gpio.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/gpio/gpio.c" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/intc/intc.h" changed="False" />
    <file path="src/asf/avr32/boards/evk1100/led.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/boards/evk1100/led.c" changed="False" />
    <file path="src/asf/avr32/drivers/pm/pm.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/pm/pm.c" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/mrepeat.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/preprocessor/mrepeat.h" changed="False" />
    <file path="src/asf/avr32/utils/linker_scripts/at32uc3a/0512/gcc/link_uc3a0512.lds" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/linker_scripts/at32uc3a/0512/gcc/link_uc3a0512.lds" changed="False" />
    <file path="src/asf/avr32/drivers/flashc/flashc.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/flashc/flashc.h" changed="False" />
    <file path="src/config/conf_usb.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum/conf_usb.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.S" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/startup/trampoline_uc3.S" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/list.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/list.c" changed="False" />
    <file path="src/usb_specific_request.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum/device/usb_specific_request.c" changed="False" />
    <file path="src/asf/avr32/boards/evk1100/evk1100.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/boards/evk1100/evk1100.h" changed="False" />
    <file path="src/asf/avr32/drivers/tc/tc.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/tc/tc.h" changed="False" />
    <file path="src/asf/avr32/drivers/flashc/flashc.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/flashc/flashc.c" changed="False" />
    <file path="src/asf/avr32/boards/evk1100/led.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/boards/evk1100/led.h" changed="False" />
    <file path="src/usb_specific_request.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/enum/device/usb_specific_request.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/host/usb_host_enum.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/host/usb_host_enum.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/portmacro.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/portmacro.h" changed="False" />
    <file path="src/asf.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="./avr32/drivers/usbb/_asf_v1/examples/enum_example_freertos/at32uc3a0512_evk1100/as5_32/asf.h" changed="False" />
    <file path="src/asf/common/utils/interrupt/interrupt_avr32.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="common/utils/interrupt/interrupt_avr32.h" changed="False" />
    <file path="src/asf/avr32/drivers/gpio/gpio.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/gpio/gpio.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/pm_conf_clocks.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/pm/pm_conf_clocks.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/memmang/heap_3.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/portable/memmang/heap_3.c" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/tpaste.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/preprocessor/tpaste.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/host/usb_host_enum.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/host/usb_host_enum.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/usb_drv.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/usb_drv.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/timers.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/timers.h" changed="False" />
    <file path="src/asf/avr32/utils/compiler.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/compiler.h" changed="False" />
    <file path="src/asf/avr32/services/usb/_asf_v1/usb_ids.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/services/usb/_asf_v1/usb_ids.h" changed="False" />
    <file path="src/asf/avr32/drivers/usart/usart.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usart/usart.h" changed="False" />
    <file path="src/device_template_task.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/device_template_task.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/write.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/write.c" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/device/usb_standard_request.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/device/usb_standard_request.c" changed="False" />
    <file path="src/device_template_task.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/examples/device_template_task.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/FreeRTOS.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/FreeRTOS.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/device/usb_device_task.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/device/usb_device_task.c" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/device/usb_device_task.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/device/usb_device_task.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/device/usb_standard_request.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/device/usb_standard_request.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/host/usb_host_task.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/host/usb_host_task.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/task.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/include/task.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/utils/startup/trampoline_uc3.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/croutine.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/croutine.c" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/enum/host/usb_host_task.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/enum/host/usb_host_task.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/tasks.c" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/source/tasks.c" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/usb_drv.h" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/usb_drv.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/docsrc/usb_host_task.jpg" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/docsrc/usb_host_task.jpg" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/docsrc/arch_full.jpg" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/docsrc/arch_full.jpg" changed="False" />
    <file path="src/asf/thirdparty/freertos/ATMEL-disclaimer.txt" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/ATMEL-disclaimer.txt" changed="False" />
    <file path="src/asf/thirdparty/freertos/readme.txt" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="thirdparty/freertos/readme.txt" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/_asf_v1/docsrc/appli.jpg" framework="com.atmel.avr32.sf.uc3a" version="2.8.1-23114" source="avr32/drivers/usbb/_asf_v1/docsrc/appli.jpg" changed="False" />
    <file path="src/asf/avr32/services/delay/delay.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/services/delay/delay.c" changed="False" />
    <file path="src/asf/avr32/services/delay/delay.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/services/delay/delay.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/startup_uc3.S" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/utils/startup/startup_uc3.S" changed="False" />
    <file path="src/asf/avr32/drivers/intc/exception.S" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/intc/exception.S" changed="False" />
    <file path="src/asf/avr32/drivers/ebi/smc/smc.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/ebi/smc/smc.c" changed="False" />
    <file path="src/asf/avr32/drivers/ebi/smc/smc.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/ebi/smc/smc.h" changed="False" />
    <file path="src/config/conf_ebi.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/ebi/smc/module_config/conf_ebi.h" changed="False" />
    <file path="src/asf/thirdparty/ijg/license.txt" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="thirdparty/ijg/license.txt" changed="False" />
    <file path="src/asf/avr32/drivers/cpu/avr32_reset_cause.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/cpu/avr32_reset_cause.h" changed="False" />
    <file path="src/asf/avr32/drivers/pwm/pwm.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/pwm/pwm.c" changed="False" />
    <file path="src/asf/avr32/drivers/pwm/pwm.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/pwm/pwm.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a0_a1/sysclk.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/uc3a0_a1/sysclk.c" changed="False" />
    <file path="src/asf/common/services/clock/uc3a0_a1/sysclk.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/uc3a0_a1/sysclk.h" changed="False" />
    <file path="src/asf/common/services/clock/genclk.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/genclk.h" changed="False" />
    <file path="src/asf/common/services/clock/osc.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/osc.h" changed="False" />
    <file path="src/asf/common/services/clock/sysclk.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/sysclk.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a0_a1/osc.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/uc3a0_a1/osc.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a0_a1/genclk.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/uc3a0_a1/genclk.h" changed="False" />
    <file path="src/asf/common/services/clock/pll.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/pll.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a0_a1/pll.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/uc3a0_a1/pll.h" changed="False" />
    <file path="src/config/conf_clock.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/clock/uc3a0_a1/module_config/conf_clock.h" changed="False" />
    <file path="src/asf/avr32/drivers/twi/twi.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/twi/twi.c" changed="False" />
    <file path="src/asf/avr32/drivers/twi/twi.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/twi/twi.h" changed="False" />
    <file path="src/asf/avr32/drivers/wdt/wdt.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/wdt/wdt.c" changed="False" />
    <file path="src/asf/avr32/drivers/wdt/wdt.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/wdt/wdt.h" changed="False" />
    <file path="src/asf/common/services/sleepmgr/uc3/sleepmgr.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/sleepmgr/uc3/sleepmgr.c" changed="False" />
    <file path="src/asf/common/services/sleepmgr/sleepmgr.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/sleepmgr/sleepmgr.h" changed="False" />
    <file path="src/asf/common/services/sleepmgr/uc3/sleepmgr.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/sleepmgr/uc3/sleepmgr.h" changed="False" />
    <file path="src/config/conf_sleepmgr.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/sleepmgr/uc3/module_config/conf_sleepmgr.h" changed="False" />
    <file path="src/asf/avr32/drivers/spi/spi.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/spi/spi.c" changed="False" />
    <file path="src/asf/avr32/drivers/spi/spi.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="avr32/drivers/spi/spi.h" changed="False" />
    <file path="src/asf/common/services/spi/uc3_spi/spi_master.c" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/spi/uc3_spi/spi_master.c" changed="False" />
    <file path="src/asf/common/services/spi/spi_master.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/spi/spi_master.h" changed="False" />
    <file path="src/asf/common/services/spi/uc3_spi/spi_master.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/spi/uc3_spi/spi_master.h" changed="False" />
    <file path="src/config/conf_spi_master.h" framework="com.atmel.avr32.sf.uc3a" version="2.6.0" source="common/services/spi/uc3_spi/module_config/conf_spi_master.h" changed="False" />
  </files>
  <documentation help="http://asf.atmel.com/docs/2.8.1/avr32/drivers/usbb/_asf_v1/examples/enum_example_freertos/at32uc3a0512_evk1100/doxygen/html/" />
</framework-data>